In [437]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [438]:
df = pd.read_csv('Car_Insurance_Claim.csv')

In [439]:
df['OUTCOME'] = df['OUTCOME'].astype(int)

In [440]:
df.dtypes

ID                       int64
AGE                     object
GENDER                  object
RACE                    object
DRIVING_EXPERIENCE      object
EDUCATION               object
INCOME                  object
CREDIT_SCORE           float64
VEHICLE_OWNERSHIP      float64
VEHICLE_YEAR            object
MARRIED                float64
CHILDREN               float64
POSTAL_CODE              int64
ANNUAL_MILEAGE         float64
VEHICLE_TYPE            object
SPEEDING_VIOLATIONS      int64
DUIS                     int64
PAST_ACCIDENTS           int64
OUTCOME                  int32
dtype: object

In [441]:
df.drop(['ID', 'RACE','EDUCATION','INCOME','VEHICLE_OWNERSHIP', 'MARRIED', 'CHILDREN', 'POSTAL_CODE','ANNUAL_MILEAGE','VEHICLE_YEAR','SPEEDING_VIOLATIONS','DUIS'],axis=1, inplace=True)

In [442]:
df.dtypes

AGE                    object
GENDER                 object
DRIVING_EXPERIENCE     object
CREDIT_SCORE          float64
VEHICLE_TYPE           object
PAST_ACCIDENTS          int64
OUTCOME                 int32
dtype: object

In [443]:
df['AGE'] = df['AGE'].map({'65+':4, '16-25':1, '26-39':2, '40-64':3})
df['GENDER'] = df['GENDER'].map({'female':2,'male':1})
df['DRIVING_EXPERIENCE'] = df['DRIVING_EXPERIENCE'].map({'0-9y':1, '10-19y':2, '20-29y':3, '30y+':4})
df['VEHICLE_TYPE'] = df['VEHICLE_TYPE'].map({'sedan':1,'sports car':2})

In [444]:
df['CREDIT_SCORE'] = df['CREDIT_SCORE'].fillna(df['CREDIT_SCORE'].mean())

In [445]:
df.describe()

,AGE,GENDER,DRIVING_EXPERIENCE,CREDIT_SCORE,VEHICLE_TYPE,PAST_ACCIDENTS,OUTCOME
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,2.489500,1.501000,2.069300,0.515813,1.047700,1.056300,0.313300
std,1.025278,0.500024,0.990452,0.130752,0.213141,1.652454,0.463858
min,1.000000,1.000000,1.000000,0.053358,1.000000,0.000000,0.000000
25%,2.000000,1.000000,1.000000,0.431509,1.000000,0.000000,0.000000
50%,2.000000,2.000000,2.000000,0.515813,1.000000,0.000000,0.000000
75%,3.000000,2.000000,3.000000,0.607607,1.000000,2.000000,1.000000
max,4.000000,2.000000,4.000000,0.960819,2.000000,15.000000,1.000000

In [446]:
df.dtypes

AGE                     int64
GENDER                  int64
DRIVING_EXPERIENCE      int64
CREDIT_SCORE          float64
VEHICLE_TYPE            int64
PAST_ACCIDENTS          int64
OUTCOME                 int32
dtype: object

In [447]:
corr = round(df.corr(),4)
corr.style.background_gradient()

In [448]:
data_x = df.drop('OUTCOME', axis=1)
data_y = df['OUTCOME']

In [449]:
data_x

,AGE,GENDER,DRIVING_EXPERIENCE,CREDIT_SCORE,VEHICLE_TYPE,PAST_ACCIDENTS
0,4,2,1,0.629027,1,0
1,1,1,1,0.357757,1,0
2,1,2,1,0.493146,1,0
3,1,1,1,0.206013,1,0
4,2,1,2,0.388366,1,1
...,...,...,...,...,...,...
9995,2,2,2,0.582787,1,1
9996,2,2,2,0.522231,1,0
9997,2,1,1,0.470940,1,0
9998,2,2,2,0.364185,1,1
9999,2,2,1,0.435225,1,0

In [450]:
decission_model = DecisionTreeClassifier()

In [451]:
train_x, test_x, train_y, test_y = train_test_split(data_x, data_y, train_size=0.9)

In [452]:
decission_model.fit(train_x, train_y)

DecisionTreeClassifier()

In [453]:
y_predicted = decission_model.predict(test_x)

In [454]:
print(f'Score del modelo: {round(decission_model.score(test_x, test_y), 4)*100} %')

Score del modelo: 71.5 %

In [455]:
ages = ['16-25', '26-39', '40-64', '65+']
sex = ['masculino','femenino']
year_experience = ['0-9','10-19','20-29','30+']
vehicule = ['sedan', 'sports car']
state = ['si reclamo', 'no reclamo']


def auto_insurance_claims(model, age, gender, driving_experience, credit_score, vehicule_type, past_accident):
    predicted = model.predict([[age, gender, driving_experience, credit_score, vehicule_type, past_accident]])
    print(f'La persona con edad entre {ages[age]} de sexo {sex[gender]} de {year_experience[driving_experience]} años de experiencia conduciendo un {vehicule[vehicule_type]} que tiene un puntaje de credito de {credit_score} y accidentes pasadas de {past_accident}, {state[predicted[0]]} el seguro de su vehiculo.')

In [456]:
auto_insurance_claims(decission_model, 0, 0, 0, 0.629027313918201, 1, 3)

La persona con edad entre 16-25 de sexo masculino de 0-9 años de experiencia conduciendo un sports car que tiene un puntaje de credito de 0.629027313918201 y accidentes pasadas de 3, si reclamo el seguro de su vehiculo.

c:\Users\Alexis\Desktop\apuntes en clase de algoritmica\apuntesAlgoritmica\venv\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(