In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('results.csv')

Analizar la informacion para poder predecir los resultados de un partido de futbol , si es que tendra victoria , empete o perdera

In [4]:
df.describe()

         home_score    away_score
count  41243.000000  41243.000000
mean       1.744975      1.189317
std        1.750513      1.406648
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

In [5]:
df.dtypes

date          object
home_team     object
away_team     object
home_score     int64
away_score     int64
tournament    object
city          object
country       object
neutral         bool
dtype: object

In [6]:
df.head(5)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

Limpiamos los datos que estan string y lo convertimos a numerico

In [7]:
# ver los valores unicos 
valores_unicos = df['tournament'].unique()
valores_unicos

array(['Friendly', 'British Championship', 'Copa Lipton', 'Copa Newton',
       'Copa Premio Honor Argentino', 'Copa Premio Honor Uruguayo',
       'Copa Roca', 'Copa América', 'Copa Chevallier Boutell',
       'Nordic Championship', 'International Cup', 'Baltic Cup',
       'Balkan Cup', 'FIFA World Cup', 'Copa Rio Branco',
       'FIFA World Cup qualification', 'CCCF Championship',
       'NAFU Championship', 'Copa Oswaldo Cruz',
       'Pan American Championship', 'Copa del Pacífico',
       "Copa Bernardo O'Higgins", 'AFC Asian Cup qualification',
       'Atlantic Cup', 'AFC Asian Cup', 'African Cup of Nations',
       'Copa Paz del Chaco', 'Merdeka Tournament',
       'UEFA Euro qualification', 'UEFA Euro',
       'Windward Islands Tournament',
       'African Cup of Nations qualification', 'Vietnam Independence Cup',
       'Copa Carlos Dittborn', 'CONCACAF Championship',
       'Copa Juan Pinto Durán', 'UAFA Cup', 'South Pacific Games',
       'CONCACAF Championship qualification', 'Copa Artigas', 'GaNEFo',
       "King's Cup", 'Gulf Cup', 'Indonesia Tournament', 'Korea Cup',
       'Brazil Independence Cup', 'Copa Ramón Castilla',
       'Oceania Nations Cup', 'CECAFA Cup', 'Copa Félix Bogado',
       'Kirin Cup', 'CFU Caribbean Cup qualification',
       'CFU Caribbean Cup', 'Amílcar Cabral Cup', 'Mundialito',
       'West African Cup', 'Nehru Cup', 'Merlion Cup', 'UDEAC Cup',
       'Rous Cup', 'Lunar New Year Cup', 'Tournoi de France',
       'Malta International Tournament', 'Island Games', 'Dynasty Cup',
       'UNCAF Cup', 'Gold Cup', 'USA Cup',
       'Jordan International Tournament', 'Confederations Cup',
       'United Arab Emirates Friendship Tournament',
       'Oceania Nations Cup qualification', 'Simba Tournament',
       'SAFF Cup', 'AFF Championship', 'King Hassan II Tournament',
       'Cyprus International Tournament', 'Dunhill Cup', 'COSAFA Cup',
       'Gold Cup qualification', 'SKN Football Festival', 'UNIFFAC Cup',
       'WAFF Championship', 'Millennium Cup', "Prime Minister's Cup",
       'EAFF Championship', 'AFC Challenge Cup', 'FIFI Wild Cup',
       'ELF Cup', 'Viva World Cup', 'UAFA Cup qualification',
       'AFC Challenge Cup qualification', 'African Nations Championship',
       'VFF Cup', 'Dragon Cup', 'ABCS Tournament',
       'Nile Basin Tournament', 'Nations Cup', 'Pacific Games', 'OSN Cup',
       'CONIFA World Football Cup', 'CONIFA European Football Cup',
       'Copa América qualification', 'World Unity Cup',
       'Intercontinental Cup', 'AFF Championship qualification',
       'UEFA Nations League', 'CONCACAF Nations League qualifying',
       'African Nations Championship qualifying', 'Atlantic Heritage Cup',
       'Inter Games Football Tournament', 'CONCACAF Nations League'],
      dtype=object)

In [73]:
neutral_field = {0:'False', 1: 'True'}

In [63]:
country = {0 :'Scotland', 1: 'England', 2:'Wales',3: 'Republic of Ireland',
      4: 'United States', 5:'Uruguay',6: 'Austria',7: 'Hungary', 8:'Argentina',
       9:'Belgium',10: 'France',11: 'Netherlands',12: 'Bohemia', 13:'Switzerland',
      14: 'Sweden',15: 'Germany',16 :'Italy',17: 'Chile',18: 'Norway',19: 'Finland',
      20: 'Luxembourg',21: 'Russia',22: 'Denmark',23: 'Spain', 24:'Japan',25: 'Brazil',
       26:'Paraguay',27: 'China PR',28: 'Canada',29: 'Estonia',30 :'Guatemala',
      31: 'Czechoslovakia',32 :'Poland', 33:'Yugoslavia', 34:'New Zealand',35: 'Romania',
      36: 'Latvia',37: 'Portugal',38: 'Northern Ireland',39: 'Australia',40: 'Lithuania',
     41 : 'Turkey', 42:'Mexico', 43:'Aruba',44: 'Soviet Union',45: 'Haiti',
     46 : 'Philippines',47: 'Bulgaria',48: 'Jamaica', 49:'Kenya', 50:'Czech Republic',
      51: 'Peru', 52:'Honduras',53: 'British Guyana',54: 'Uganda', 55:'El Salvador',
      56 :'Barbados',57 :'Irish Free State', 58:'Trinidad and Tobago',59 :'Greece',
      60 :'Curaçao',61: 'Egypt',62 :'Dominica',63: 'Guadeloupe', 64:'Palestine',
       65:'Netherlands Guyana', 66:'French Guiana',67: 'Cuba', 68:'Colombia',
       69:'Saint Kitts and Nevis',70: 'Éire',71 :'Panama', 72:'Bohemia and Moravia',
      73: 'Slovakia', 74:'Manchuria', 75:'Croatia',76 :'Costa Rica',77:'Afghanistan',
      78 :'Martinique',79 :'Southern Rhodesia', 80:'Iceland',80 :'Albania',
      81: 'Madagascar',82: 'Northern Rhodesia', 83:'Tanganyika', 84:'Iran',85 :'Ecuador',
       86:'French Somaliland',87: 'Belgian Congo',88: 'Mauritius', 89:'Hong Kong',
      90:'Vietnam', 91:'Macau', 92:'Ethiopia',93: 'Suriname',94: 'Puerto Rico',
      95 :'Réunion', 96:'Israel', 97:'Sierra Leone', 98:'Zanzibar',99: 'Bolivia',
     100  :'Gold Coast', 101:'South Africa',102: 'Netherlands Antilles',
      103: 'New Caledonia',104: 'Fiji', 105:'Nigeria',106: 'Venezuela',107: 'Ceylon',
     108 : 'French Polynesia', 109:'Gambia',110: 'Singapore',111 :'Portuguese Guinea',
     112 : 'German DR', 113:'New Hebrides',114: 'Burma',115: 'Saarland', 116:'Cambodia',
     117 : 'Maldives',118 :'Laos', 119:'Isle of Man', 120:'Samoa',121 :'Bhutan',
     122 : 'Serbia and Montenegro',123: 'Mayotte',124 :'Mongolia',125: 'Northern Cyprus',
     126 : 'Serbia',  127:'Northern Mariana Islands',128 :'Comoros',
     129 : 'Tuos Islrks and Caicands',130 :'South Sudan', 131:'Kosovo', 132:'East Timor',
     133:'Tahiti', 134:'Myanmar',135:'Montenegro'}

In [79]:
city = {1:'Glasgow' ,2:'London',3: 'Wrexham',4: 'Libya' ,5:'Mali' ,6:'Burkina Faso'}

In [95]:
tournament_type = {1:'Friendly', 2:'British Championship',3: 'Copa Lipton',4: 'Copa Newton',
      5: 'Copa Premio Honor Argentino',6: 'Copa Premio Honor Uruguayo',
      7: 'Copa Roca', 8:'Copa América', 9:'Copa Chevallier Boutell',
      10 :'Nordic Championship', 11:'International Cup', 12:'Baltic Cup',
     13 : 'Balkan Cup',14: 'FIFA World Cup', 15:'Copa Rio Branco',
      16: 'FIFA World Cup qualification', 17:'CCCF Championship',
       18:'NAFU Championship', 19:'Copa Oswaldo Cruz',
      20: 'Pan American Championship', 21:'Copa del Pacífico',
     22:  "Copa Bernardo O'Higgins",23: 'AFC Asian Cup qualification',
      24: 'Atlantic Cup', 25:'AFC Asian Cup', 26:'African Cup of Nations',
       27:'Copa Paz del Chaco',28: 'Merdeka Tournament',
     29:  'UEFA Euro qualification',30: 'UEFA Euro',
      31: 'Windward Islands Tournament',
      32: 'African Cup of Nations qualification',33: 'Vietnam Independence Cup',
      33: 'Copa Carlos Dittborn',34: 'CONCACAF Championship',
      35: 'Copa Juan Pinto Durán',36: 'UAFA Cup',37: 'South Pacific Games',
      38: 'CONCACAF Championship qualification',39: 'Copa Artigas',40: 'GaNEFo',
      41: "King's Cup",42: 'Gulf Cup',43: 'Indonesia Tournament',44: 'Korea Cup',
      45: 'Brazil Independence Cup',46: 'Copa Ramón Castilla',
      47: 'Oceania Nations Cup',48: 'CECAFA Cup',49: 'Copa Félix Bogado',
      50: 'Kirin Cup',51: 'CFU Caribbean Cup qualification',
      52: 'CFU Caribbean Cup',53: 'Amílcar Cabral Cup',54: 'Mundialito',
      55: 'West African Cup',56: 'Nehru Cup',57: 'Merlion Cup',58: 'UDEAC Cup',
      59: 'Rous Cup', 60:'Lunar New Year Cup',61: 'Tournoi de France',
      62: 'Malta International Tournament',63: 'Island Games',64: 'Dynasty Cup',
      65: 'Intercontinental Cup',66: 'AFF Championship qualification',
      67: 'UEFA Nations League',68: 'CONCACAF Nations League qualifying',
      69: 'African Nations Championship qualifying',70: 'Atlantic Heritage Cup',
      71: 'Inter Games Football Tournament',72: 'CONCACAF Nations League'}

creamos una nueva columna  donde guardaremos los datos si gano o no 0 es si gano y 1 que perdio

convertimos los datos

In [84]:

# Convierto las columnas object a valores numéricos
df.city = df.city.map({1:'Glasgow' ,2:'London',3: 'Wrexham',4: 'Libya' ,5:'Mali' ,6:'Burkina Faso'})
df.tournament = df.tournament.map({1:'Friendly', 2:'British Championship',3: 'Copa Lipton',4: 'Copa Newton',
      5: 'Copa Premio Honor Argentino',6: 'Copa Premio Honor Uruguayo',
      7: 'Copa Roca', 8:'Copa América', 9:'Copa Chevallier Boutell',
      10 :'Nordic Championship', 11:'International Cup', 12:'Baltic Cup',
     13 : 'Balkan Cup',14: 'FIFA World Cup', 15:'Copa Rio Branco',
      16: 'FIFA World Cup qualification', 17:'CCCF Championship',
       18:'NAFU Championship', 19:'Copa Oswaldo Cruz',
      20: 'Pan American Championship', 21:'Copa del Pacífico',
     22:  "Copa Bernardo O'Higgins",23: 'AFC Asian Cup qualification',
      24: 'Atlantic Cup', 25:'AFC Asian Cup', 26:'African Cup of Nations',
       27:'Copa Paz del Chaco',28: 'Merdeka Tournament',
     29:  'UEFA Euro qualification',30: 'UEFA Euro',
      31: 'Windward Islands Tournament',
      32: 'African Cup of Nations qualification',33: 'Vietnam Independence Cup',
      33: 'Copa Carlos Dittborn',34: 'CONCACAF Championship',
      35: 'Copa Juan Pinto Durán',36: 'UAFA Cup',37: 'South Pacific Games',
      38: 'CONCACAF Championship qualification',39: 'Copa Artigas',40: 'GaNEFo',
      41: "King's Cup",42: 'Gulf Cup',43: 'Indonesia Tournament',44: 'Korea Cup',
      45: 'Brazil Independence Cup',46: 'Copa Ramón Castilla',
      47: 'Oceania Nations Cup',48: 'CECAFA Cup',49: 'Copa Félix Bogado',
      50: 'Kirin Cup',51: 'CFU Caribbean Cup qualification',
      52: 'CFU Caribbean Cup',53: 'Amílcar Cabral Cup',54: 'Mundialito',
      55: 'West African Cup',56: 'Nehru Cup',57: 'Merlion Cup',58: 'UDEAC Cup',
      59: 'Rous Cup', 60:'Lunar New Year Cup',61: 'Tournoi de France',
      62: 'Malta International Tournament',63: 'Island Games',64: 'Dynasty Cup',
      65: 'Intercontinental Cup',66: 'AFF Championship qualification',
      67: 'UEFA Nations League',68: 'CONCACAF Nations League qualifying',
      69: 'African Nations Championship qualifying',70: 'Atlantic Heritage Cup',
      71: 'Inter Games Football Tournament',72: 'CONCACAF Nations League'})
df.country = df.country.map({0 :'Scotland', 1: 'England', 2:'Wales',3: 'Republic of Ireland',
      4: 'United States', 5:'Uruguay',6: 'Austria',7: 'Hungary', 8:'Argentina',
       9:'Belgium',10: 'France',11: 'Netherlands',12: 'Bohemia', 13:'Switzerland',
      14: 'Sweden',15: 'Germany',16 :'Italy',17: 'Chile',18: 'Norway',19: 'Finland',
      20: 'Luxembourg',21: 'Russia',22: 'Denmark',23: 'Spain', 24:'Japan',25: 'Brazil',
       26:'Paraguay',27: 'China PR',28: 'Canada',29: 'Estonia',30 :'Guatemala',
      31: 'Czechoslovakia',32 :'Poland', 33:'Yugoslavia', 34:'New Zealand',35: 'Romania',
      36: 'Latvia',37: 'Portugal',38: 'Northern Ireland',39: 'Australia',40: 'Lithuania',
     41 : 'Turkey', 42:'Mexico', 43:'Aruba',44: 'Soviet Union',45: 'Haiti',
     46 : 'Philippines',47: 'Bulgaria',48: 'Jamaica', 49:'Kenya', 50:'Czech Republic',
      51: 'Peru', 52:'Honduras',53: 'British Guyana',54: 'Uganda', 55:'El Salvador',
      56 :'Barbados',57 :'Irish Free State', 58:'Trinidad and Tobago',59 :'Greece',
      60 :'Curaçao',61: 'Egypt',62 :'Dominica',63: 'Guadeloupe', 64:'Palestine',
       65:'Netherlands Guyana', 66:'French Guiana',67: 'Cuba', 68:'Colombia',
       69:'Saint Kitts and Nevis',70: 'Éire',71 :'Panama', 72:'Bohemia and Moravia',
      73: 'Slovakia', 74:'Manchuria', 75:'Croatia',76 :'Costa Rica',77:'Afghanistan',
      78 :'Martinique',79 :'Southern Rhodesia', 80:'Iceland',80 :'Albania',
      81: 'Madagascar',82: 'Northern Rhodesia', 83:'Tanganyika', 84:'Iran',85 :'Ecuador',
       86:'French Somaliland',87: 'Belgian Congo',88: 'Mauritius', 89:'Hong Kong',
      90:'Vietnam', 91:'Macau', 92:'Ethiopia',93: 'Suriname',94: 'Puerto Rico',
      95 :'Réunion', 96:'Israel', 97:'Sierra Leone', 98:'Zanzibar',99: 'Bolivia',
     100  :'Gold Coast', 101:'South Africa',102: 'Netherlands Antilles',
      103: 'New Caledonia',104: 'Fiji', 105:'Nigeria',106: 'Venezuela',107: 'Ceylon',
     108 : 'French Polynesia', 109:'Gambia',110: 'Singapore',111 :'Portuguese Guinea',
     112 : 'German DR', 113:'New Hebrides',114: 'Burma',115: 'Saarland', 116:'Cambodia',
     117 : 'Maldives',118 :'Laos', 119:'Isle of Man', 120:'Samoa',121 :'Bhutan',
     122 : 'Serbia and Montenegro',123: 'Mayotte',124 :'Mongolia',125: 'Northern Cyprus',
     126 : 'Serbia',  127:'Northern Mariana Islands',128 :'Comoros',
     129 : 'Tuos Islrks and Caicands',130 :'South Sudan', 131:'Kosovo', 132:'East Timor',
     133:'Tahiti', 134:'Myanmar',135:'Montenegro'})

creamos una nueva columna  donde guardaremos los datos si gano o no 0 es si gano y 1 que perdio

preparar los datos para ver que equipo gano un partido

creamos una nueva columna  donde guardaremos los datos si gano o no 0 es si gano y 1 que perdio

In [98]:
df['Local_Win'] = (df['home_score'] > df['away_score']).astype(int)

seleccionar las caracteristicas y la columna objetivo

In [99]:
features = ['home_score', 'away_score']
X = df[features]
y = df['Local_Win']

Dividir los datos en conjuntos de entrenamiento y prueba

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

crear y entrenar el modelo de vecinos 
Puedes ajustar el valor de k según tus necesidades

In [31]:
k = 3  
model = KNeighborsClassifier(n_neighbors=k)
model.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [32]:
# Hacer predicciones en el conjunto de prueba
y_pred = model.predict(X_test)

In [33]:
# Evaluar el modelo
accuracy = accuracy_score(y_test, y_pred)
print(f"Precisión del modelo: {accuracy}")

Precisión del modelo: 0.9996363195538853

In [34]:
print(f'Score: {round(model.score(X_test, y_test), 4) * 100}%')

Score: 99.96000000000001%

Supongamos que tienes un modelo de KNN previamente entrenado para predecir resultados de partidos de fútbol.
Definir las características para la predicción (ajusta estas características según tus datos):

In [90]:

home_score = 2  # Puntuación del equipo local
away_score = 1  # Puntuación del equipo visitante
tournament = 2 # Tipo de torneo
city = 1  # Ciudad del partido
country = 2  # País del partido
neutral = 1  #¿El partido se juega en campo neutral?

In [ ]:
# Utilizar el modelo para hacer una predicción en función de las características proporcionadas
predicted_result = model.predict([[home_score, away_score, tournament, city, country, neutral_field]])
print(f'el partido en el pais de {country}, hubicado en la ciudad {city}')