In [31]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [32]:
df = pd.read_csv('dataset_fish.csv')

In [33]:
df

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [34]:
df.head(10)

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
5   Bream   450.0     26.8     29.7     34.7  13.6024  4.9274
6   Bream   500.0     26.8     29.7     34.5  14.1795  5.2785
7   Bream   390.0     27.6     30.0     35.0  12.6700  4.6900
8   Bream   450.0     27.6     30.0     35.1  14.0049  4.8438
9   Bream   500.0     28.5     30.7     36.2  14.2266  4.9594

In [35]:
df.tail(10)

    Species  Weight  Length1  Length2  Length3  Height   Width
149   Smelt     9.8     10.7     11.2     12.4  2.0832  1.2772
150   Smelt     8.7     10.8     11.3     12.6  1.9782  1.2852
151   Smelt    10.0     11.3     11.8     13.1  2.2139  1.2838
152   Smelt     9.9     11.3     11.8     13.1  2.2139  1.1659
153   Smelt     9.8     11.4     12.0     13.2  2.2044  1.1484
154   Smelt    12.2     11.5     12.2     13.4  2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5  2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8  2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2  2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2  2.9322  1.8792

In [36]:
df.dtypes

Species     object
Weight     float64
Length1    float64
Length2    float64
Length3    float64
Height     float64
Width      float64
dtype: object

In [37]:
df.Species.unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [38]:
df['Species'] = df['Species'].map({'Bream':1, 'Roach':2, 'Whitefish': 3,'Parkki': 4, 'Perch': 5, 'Pike': 6, 'Smelt': 7})

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    int64
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 8.8 KB

In [40]:
df.describe()

,Species,Weight,Length1,Length2,Length3,Height,Width
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.880503,398.326415,26.247170,28.415723,31.227044,8.970994,4.417486
std,2.026298,357.978317,9.996441,10.716328,11.610246,4.286208,1.685804
min,1.000000,0.000000,7.500000,8.400000,8.800000,1.728400,1.047600
25%,2.000000,120.000000,19.050000,21.000000,23.150000,5.944800,3.385650
50%,5.000000,273.000000,25.200000,27.300000,29.400000,7.786000,4.248500
75%,5.000000,650.000000,32.700000,35.500000,39.650000,12.365900,5.584500
max,7.000000,1650.000000,59.000000,63.400000,68.000000,18.957000,8.142000

In [41]:
corr = round(df.corr(), 4)
corr.style.background_gradient()

In [42]:
data_x = df.drop(['Species', 'Weight'], axis=1)
data_y = df.Weight

In [43]:
data_x

     Length1  Length2  Length3   Height   Width
0       23.2     25.4     30.0  11.5200  4.0200
1       24.0     26.3     31.2  12.4800  4.3056
2       23.9     26.5     31.1  12.3778  4.6961
3       26.3     29.0     33.5  12.7300  4.4555
4       26.5     29.0     34.0  12.4440  5.1340
..       ...      ...      ...      ...     ...
154     11.5     12.2     13.4   2.0904  1.3936
155     11.7     12.4     13.5   2.4300  1.2690
156     12.1     13.0     13.8   2.2770  1.2558
157     13.2     14.3     15.2   2.8728  2.0672
158     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 5 columns]

In [44]:
data_y

0      242.0
1      290.0
2      340.0
3      363.0
4      430.0
       ...
154     12.2
155     13.4
156     12.2
157     19.7
158     19.9
Name: Weight, Length: 159, dtype: float64

In [76]:
train_x, test_x, train_y, test_y = train_test_split(data_x, data_y, test_size=0.2)

In [77]:
#comprueba el conjunto de entrenamiento (train) y la muestra/prueba (test)
train_x.shape, test_x.shape, train_y.shape, test_y.shape

((127, 5), (32, 5), (127,), (32,))

In [78]:
#observo que contiene train_x
train_x

     Length1  Length2  Length3   Height   Width
138     43.2     46.0     48.7   7.7920  4.8700
67      19.0     20.7     23.2   9.3960  3.4104
102     25.2     27.3     28.7   8.3230  5.1373
52      24.0     26.0     29.2   8.8768  4.4968
125     40.1     43.0     45.5  12.5125  7.4165
..       ...      ...      ...      ...     ...
120     37.0     40.0     42.5  11.7300  7.2250
156     12.1     13.0     13.8   2.2770  1.2558
116     36.5     39.0     41.4  11.1366  7.4934
51      23.6     25.2     27.9   7.0866  3.9060
136     40.1     43.0     45.8   7.7860  5.1296

[127 rows x 5 columns]

In [79]:
#observo que contiene train_y
train_y

138     567.0
67      170.0
102     300.0
52      290.0
125    1100.0
        ...
120     900.0
156      12.2
116     900.0
51      180.0
136     540.0
Name: Weight, Length: 127, dtype: float64

In [80]:
#inicializo el modelo a entrenar
fish_reg = LinearRegression()

In [81]:
#entreno el modelo
fish_reg.fit(train_x, train_y)

LinearRegression()

In [82]:
#clasificación de los datos
y_predicted = fish_reg.predict(test_x)

In [83]:
#observo que contiene y_predicted
y_predicted

array([ 249.71560882,   91.16264057,  141.35482175,  805.3577313 ,
        375.45373956,  889.29265632,  779.1668386 ,  701.67557335,
        605.83305261,  557.46365068,  407.60843169,   79.8613169 ,
        -76.78608819,  297.76609048,  161.26928271,  180.78737808,
        150.01253633,  592.25568596,  401.23581696,  363.2336949 ,
       -150.04523804,   90.46142282,  488.45973895,  659.3176533 ,
        690.62919343,  789.49568886, -190.81795327,  549.31914469,
        340.04068089,  437.44500821,  304.35545404,  646.61846087])

In [84]:
print(f'Calificación de entrenamiento: {round(fish_reg.score(train_x, train_y), 4)*100}%')
print(f'Calificación de predicción: {round(fish_reg.score(test_x, test_y), 4)*100}%')

Calificación de entrenamiento: 88.9%
Calificación de predicción: 86.04%

In [85]:
train_x

     Length1  Length2  Length3   Height   Width
138     43.2     46.0     48.7   7.7920  4.8700
67      19.0     20.7     23.2   9.3960  3.4104
102     25.2     27.3     28.7   8.3230  5.1373
52      24.0     26.0     29.2   8.8768  4.4968
125     40.1     43.0     45.5  12.5125  7.4165
..       ...      ...      ...      ...     ...
120     37.0     40.0     42.5  11.7300  7.2250
156     12.1     13.0     13.8   2.2770  1.2558
116     36.5     39.0     41.4  11.1366  7.4934
51      23.6     25.2     27.9   7.0866  3.9060
136     40.1     43.0     45.8   7.7860  5.1296

[127 rows x 5 columns]

In [86]:
def predict_weight(length1, length2, length3, height, width, fish_model):
    result = fish_model.predict([[length1, length2, length3, height, width]])
    print(f'El pescado con valores de: \nLongitud Vertical: {length1} cm,  \nLongitud Diagonal {length2} cm,  \nLongitud Horizontal {length3} cm,  \nAltura {height} cm,  \nAncho de {width} cm. \nTiene un peso de: {result[0]} kg')

In [87]:
length1= 78.0
length2 = 15.0
length3= 17.4
height= 30.5
width = 27.9

In [88]:
predict_weight(length1, length2, length3, height, width, fish_reg)

El pescado con valores de:
Longitud Vertical: 78.0 cm,
Longitud Diagonal 15.0 cm,
Longitud Horizontal 17.4 cm,
Altura 30.5 cm,
Ancho de 27.9 cm.
Tiene un peso de: 5806.644062368454 kg

c:\Users\Usuario\LOURDES\NUR\AlgoritmicaAvanzada\avance-personal\entornos\proyecto_dos\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [90]:
#margen de error
from sklearn.metrics import mean_squared_error, r2_score

In [93]:
#calcula el MSE, error cuadrático medio
calcular_mse = mean_squared_error(test_y, y_predicted)

In [94]:
#calcula el coeficiente r^2
coeficiente = r2_score(test_y, y_predicted)

In [95]:
#Resultado de los cálculos
print(f'MSE: {calcular_mse}')
print(f'R^2: {coeficiente}')

MSE: 12958.289512121179
R^2: 0.8603633681738636