In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('dataset_fish.csv')

In [3]:
df

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [4]:
df.dtypes

Species     object
Weight     float64
Length1    float64
Length2    float64
Length3    float64
Height     float64
Width      float64
dtype: object

In [5]:
df.head(10)

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
5   Bream   450.0     26.8     29.7     34.7  13.6024  4.9274
6   Bream   500.0     26.8     29.7     34.5  14.1795  5.2785
7   Bream   390.0     27.6     30.0     35.0  12.6700  4.6900
8   Bream   450.0     27.6     30.0     35.1  14.0049  4.8438
9   Bream   500.0     28.5     30.7     36.2  14.2266  4.9594

In [6]:
df.tail(10)

    Species  Weight  Length1  Length2  Length3  Height   Width
149   Smelt     9.8     10.7     11.2     12.4  2.0832  1.2772
150   Smelt     8.7     10.8     11.3     12.6  1.9782  1.2852
151   Smelt    10.0     11.3     11.8     13.1  2.2139  1.2838
152   Smelt     9.9     11.3     11.8     13.1  2.2139  1.1659
153   Smelt     9.8     11.4     12.0     13.2  2.2044  1.1484
154   Smelt    12.2     11.5     12.2     13.4  2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5  2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8  2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2  2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2  2.9322  1.8792

In [7]:
df.Species.unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [8]:
df['Species'] = df['Species'].map({'Bream':1, 'Roach':2, 'Whitefish': 3,'Parkki': 4, 'Perch': 5, 'Pike': 6, 'Smelt': 7})

In [9]:
df.describe()

,Species,Weight,Length1,Length2,Length3,Height,Width
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.880503,398.326415,26.247170,28.415723,31.227044,8.970994,4.417486
std,2.026298,357.978317,9.996441,10.716328,11.610246,4.286208,1.685804
min,1.000000,0.000000,7.500000,8.400000,8.800000,1.728400,1.047600
25%,2.000000,120.000000,19.050000,21.000000,23.150000,5.944800,3.385650
50%,5.000000,273.000000,25.200000,27.300000,29.400000,7.786000,4.248500
75%,5.000000,650.000000,32.700000,35.500000,39.650000,12.365900,5.584500
max,7.000000,1650.000000,59.000000,63.400000,68.000000,18.957000,8.142000

In [10]:
corr = round(df.corr(), 4)
corr.style.background_gradient()

In [11]:
#Separamos la data para la variable 'x' e 'y' 
data_x = df.drop(['Weight'], axis=1)
data_y = df.Weight

In [12]:
data_x

     Species  Length1  Length2  Length3   Height   Width
0          1     23.2     25.4     30.0  11.5200  4.0200
1          1     24.0     26.3     31.2  12.4800  4.3056
2          1     23.9     26.5     31.1  12.3778  4.6961
3          1     26.3     29.0     33.5  12.7300  4.4555
4          1     26.5     29.0     34.0  12.4440  5.1340
..       ...      ...      ...      ...      ...     ...
154        7     11.5     12.2     13.4   2.0904  1.3936
155        7     11.7     12.4     13.5   2.4300  1.2690
156        7     12.1     13.0     13.8   2.2770  1.2558
157        7     13.2     14.3     15.2   2.8728  2.0672
158        7     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 6 columns]

In [13]:
data_y

0      242.0
1      290.0
2      340.0
3      363.0
4      430.0
       ...
154     12.2
155     13.4
156     12.2
157     19.7
158     19.9
Name: Weight, Length: 159, dtype: float64

In [14]:
train_x, test_x, train_y, test_y = train_test_split(data_x, data_y, test_size=0.2)

In [15]:
train_x.shape, test_x.shape, train_y.shape, test_y.shape

((127, 6), (32, 6), (127,), (32,))

In [16]:
train_x

     Species  Length1  Length2  Length3   Height   Width
147        7     10.1     10.6     11.6   1.7284  1.1484
112        5     34.0     36.5     39.0  10.8810  6.8640
30         1     35.0     38.5     44.1  18.0369  6.3063
74         5     13.8     15.0     16.0   3.8240  2.4320
97         5     22.0     24.0     25.5   6.3750  3.8250
..       ...      ...      ...      ...      ...     ...
18         1     30.9     33.5     38.6  15.6330  5.1338
19         1     31.0     33.5     38.7  14.4738  5.7276
123        5     39.0     42.0     44.6  12.8002  6.8684
127        5     41.1     44.0     46.6  12.4888  7.5958
96         5     22.0     24.0     25.5   7.2930  3.7230

[127 rows x 6 columns]

In [17]:
train_y

147       7.0
112     685.0
30      920.0
74       40.0
97      145.0
        ...
18      610.0
19      650.0
123    1100.0
127    1000.0
96      225.0
Name: Weight, Length: 127, dtype: float64

In [18]:
fish_reg = Ridge()

In [19]:
fish_reg.fit(train_x, train_y)

Ridge()

In [20]:
y_predicted = fish_reg.predict(test_x)

In [21]:
y_predicted

array([ 200.88543639,  714.47367379,  888.09631878,   93.6996607 ,
        689.20493222,  686.07659944,  588.37727449,  717.97662154,
         29.07843979,  169.71208977,  355.05221184,   73.47082628,
        744.94185481,  338.86795663,  139.1316879 ,  914.30690437,
        880.78359604, -143.64083166,  422.73286336,  450.35573464,
        250.26291115,  178.60855415,  660.8392284 ,  189.26806996,
        847.97182068, -103.66304125,  215.89099685, -101.97664317,
         65.29782858,  372.34683126,  818.39873833,   91.62838975])

In [22]:
print(f'Calificación de predicción: {round(fish_reg.score(test_x, test_y), 4)*100}%')

Calificación de predicción: 93.52000000000001%

In [40]:
#funcion
def predict_weight(species, length1, length2, length3, height, width, fish_model):
    predicted = fish_model.predict([[species, length1, length2, length3, height, width]])
    return predicted

In [41]:
#datos
fish_list = [None, 'Bream', 'Roach', 'Whitefish','Parkki', 'Perch', 'Pike', 'Smelt']
species = 1
length1= 15
length2 = 1
length3= 5
height= 30
width = 21

In [43]:
predicted  = predict_weight(species, length1, length2, length3, height, width, fish_reg)

c:\Users\Usuario\LOURDES\NUR\AlgoritmicaAvanzada\avance-personal\entornos\proyecto_dos\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but Ridge was fitted with feature names
  warnings.warn(

In [45]:
print(f'El pescado con la siguiente información: \n*Especie {fish_list[species]} \n*Longitud Vertical: {length1} cm,  \n*Longitud Diagonal {length2} cm,  \n*Longitud Horizontal {length3} cm,  \n*Altura {height} cm,  \n*Ancho de {width} cm. \nTiene un peso de: {predicted[0]} kg')

El pescado con la siguiente información:
*Especie Bream
*Longitud Vertical: 15 cm,
*Longitud Diagonal 1 cm,
*Longitud Horizontal 5 cm,
*Altura 30 cm,
*Ancho de 21 cm.
Tiene un peso de: 1387.2513925896687 kg

In [46]:
new_fish_reg = Ridge()

In [47]:
new_fish_reg.fit(train_x, train_y)

Ridge()

In [48]:
print(f'Calificación de predicción: {round(new_fish_reg.score(test_x, test_y), 4)*100}%')

Calificación de predicción: 93.52000000000001%

##Margen de error del modelo ridge

In [49]:
#margen de error
from sklearn.metrics import mean_squared_error, r2_score

In [50]:
calcular_mse = mean_squared_error(test_y, y_predicted)

In [51]:
coeficiente = r2_score(test_y, y_predicted)

In [52]:
#Resultado de los cálculos
print(f'Ridge MSE: {calcular_mse}')
print(f'Ridge R^2: {coeficiente}')

Ridge MSE: 7688.404140332758
Ridge R^2: 0.9352173877567717

##Grafico