In [1]:
from sklearn import neighbors
from sklearn.model_selection import train_test_split

import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('diabetes_prediction_dataset.csv')

In [3]:
df.describe()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,41.885856,0.07485,0.039420,27.320767,5.527507,138.058060,0.085000
std,22.516840,0.26315,0.194593,6.636783,1.070672,40.708136,0.278883
min,0.080000,0.00000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,24.000000,0.00000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,43.000000,0.00000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,60.000000,0.00000,0.000000,29.580000,6.200000,159.000000,0.000000
max,80.000000,1.00000,1.000000,95.690000,9.000000,300.000000,1.000000

In [4]:
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [5]:
df.gender.unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [6]:
df.smoking_history.unique()

array(['never', 'No Info', 'current', 'former', 'ever', 'not current'],
      dtype=object)

In [7]:
#limpiando datos 
#gender = {0: 'hombre', 1: 'mujer', 2: 'otro'}
have_diabetes = {0: 'No diabetes', 1: 'Diabetes'}
#smoking_history = {0: 'No info', 1:'never',2:'current',3:'former',4:'ever',5:'not current'}
#Convirtiendo 
df.gender = df.gender.map({'Male':0,'Female':1,'otro':2})
df.smoking_history = df.smoking_history.map({'No info':0,'never':1, 'current': 2,'former':3,'ever':4,'not current':5})

In [8]:
df.describe()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
count,99982.000000,100000.000000,100000.00000,100000.000000,64184.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,0.585625,41.885856,0.07485,0.039420,2.025022,27.320767,5.527507,138.058060,0.085000
std,0.492616,22.516840,0.26315,0.194593,1.358469,6.636783,1.070672,40.708136,0.278883
min,0.000000,0.080000,0.00000,0.000000,1.000000,10.010000,3.500000,80.000000,0.000000
25%,0.000000,24.000000,0.00000,0.000000,1.000000,23.630000,4.800000,100.000000,0.000000
50%,1.000000,43.000000,0.00000,0.000000,1.000000,27.320000,5.800000,140.000000,0.000000
75%,1.000000,60.000000,0.00000,0.000000,3.000000,29.580000,6.200000,159.000000,0.000000
max,1.000000,80.000000,1.00000,1.000000,5.000000,95.690000,9.000000,300.000000,1.000000

In [9]:
df.gender = df.gender.fillna(df['gender'].mean())

In [10]:
df.smoking_history = df.smoking_history.fillna(df['smoking_history'].mean())

In [11]:
df.describe()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,0.585625,41.885856,0.07485,0.039420,2.025022,27.320767,5.527507,138.058060,0.085000
std,0.492572,22.516840,0.26315,0.194593,1.088334,6.636783,1.070672,40.708136,0.278883
min,0.000000,0.080000,0.00000,0.000000,1.000000,10.010000,3.500000,80.000000,0.000000
25%,0.000000,24.000000,0.00000,0.000000,1.000000,23.630000,4.800000,100.000000,0.000000
50%,1.000000,43.000000,0.00000,0.000000,2.025022,27.320000,5.800000,140.000000,0.000000
75%,1.000000,60.000000,0.00000,0.000000,2.025022,29.580000,6.200000,159.000000,0.000000
max,1.000000,80.000000,1.00000,1.000000,5.000000,95.690000,9.000000,300.000000,1.000000

In [12]:
k_neighbors = neighbors.KNeighborsClassifier()

In [13]:
data_x = df.drop(['gender','smoking_history','diabetes'],axis='columns')
data_y = df.diabetes

In [14]:
data_x

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level
0,80.0,0,1,25.19,6.6,140
1,54.0,0,0,27.32,6.6,80
2,28.0,0,0,27.32,5.7,158
3,36.0,0,0,23.45,5.0,155
4,76.0,1,1,20.14,4.8,155
...,...,...,...,...,...,...
99995,80.0,0,0,27.32,6.2,90
99996,2.0,0,0,17.37,6.5,100
99997,66.0,0,0,27.83,5.7,155
99998,24.0,0,0,35.42,4.0,100
99999,57.0,0,0,22.43,6.6,90

In [15]:
data_y

0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Name: diabetes, Length: 100000, dtype: int64

In [16]:
corr = round(df.corr(),4)
corr.style.background_gradient()

In [17]:
train_x, test_x, train_y, test_y = train_test_split(data_x,data_y,test_size=0.1)

In [18]:
k_neighbors.fit(train_x,train_y)

KNeighborsClassifier()

In [19]:
print(f'score: {round(k_neighbors.score(test_x,test_y),4)*100} %')

score: 95.77 %

In [20]:
result = ['no tiene diabetes','tiene diabetes']
hyper = ['no tiene hipertensión','tiene hipertensión']
heart = ['no tiene problemas cardiacos', 'tiene problema cardiacos']
age = 44
hypertension = 0
heart_disease = 0
bmi = 19.31
hba1c = 6.5
blood_glucose = 200

In [21]:
def classify_diabetes(model, age, hypertension, heart_disease, bmi, hba1c,blood_glucose):
    predicted = model.predict([[age,hypertension,heart_disease,bmi,hba1c,blood_glucose]])
    print(f'Una personas de {age} años, que {hyper[hypertension]}, {heart[heart_disease]} , un imc de {bmi} , emoglobina de {hba1c} y un nivel de glucosa de {blood_glucose}. se determina que {result[predicted[0]]}')

In [22]:
classify_diabetes(k_neighbors,age,hypertension,heart_disease,bmi,hba1c,blood_glucose)

Una personas de 44 años, que tiene hipertensión, no tiene problemas cardiacos , un imc de 19.31 , emoglobina de 6.5 y un nivel de glucosa de 200. se determina que tiene diabetes

d:\algoritmica\algoritmica-2023-2\venv\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(