In [12]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn import neighbors

In [13]:
df = pd.read_csv('bank.csv')

In [14]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
deposit      object
dtype: object

In [15]:
df.drop([ 'job','marital','education' , 'default', 'housing',
'loan', 'contact', 'month', 'poutcome',] ,axis=1 , inplace=True)

In [16]:
df['deposit'] = df.deposit.map({'yes':0, 'no':1})

In [17]:

df['balance'] = df['balance'].fillna(df['balance'].mean())

In [18]:
mean_value_balance = df['balance'].mean()  
df['balance'].fillna(mean_value_balance, inplace=True)

In [19]:
data_x = df.drop('balance', axis='columns')
data_y = df.deposit

In [20]:
# Inicializar el modelo
k_neighbors = neighbors.KNeighborsClassifier()

In [21]:
data_x

       age  day  duration  campaign  pdays  previous  deposit
0       59    5      1042         1     -1         0        0
1       56    5      1467         1     -1         0        0
2       41    5      1389         1     -1         0        0
3       55    5       579         1     -1         0        0
4       54    5       673         2     -1         0        0
...    ...  ...       ...       ...    ...       ...      ...
11157   33   20       257         1     -1         0        1
11158   39   16        83         4     -1         0        1
11159   32   19       156         2     -1         0        1
11160   43    8         9         2    172         5        1
11161   34    9       628         1     -1         0        1

[11162 rows x 7 columns]

In [22]:
train_x, test_x, train_y, test_y = train_test_split(data_x, data_y, train_size=0.2)

In [23]:
k_neighbors.fit(train_x, train_y)

KNeighborsClassifier()

In [24]:
y_predicted = k_neighbors.predict(test_x)

In [25]:
data_x

       age  day  duration  campaign  pdays  previous  deposit
0       59    5      1042         1     -1         0        0
1       56    5      1467         1     -1         0        0
2       41    5      1389         1     -1         0        0
3       55    5       579         1     -1         0        0
4       54    5       673         2     -1         0        0
...    ...  ...       ...       ...    ...       ...      ...
11157   33   20       257         1     -1         0        1
11158   39   16        83         4     -1         0        1
11159   32   19       156         2     -1         0        1
11160   43    8         9         2    172         5        1
11161   34    9       628         1     -1         0        1

[11162 rows x 7 columns]

In [26]:
print(f'Score del modelo: {round(k_neighbors.score(test_x, test_y), 4) * 100}%')

Score del modelo: 75.9%

In [27]:
result = ['se suscribio','no se suscribio']
age = 60 
marital = 1  
balance = 1000 
day = 5  
duration = 1042  
campaign = 1  
previous = 0  
deposit = 1

In [28]:
def classify_bank(model, age, marital, balance, day, duration, campaign, previous, deposit):
    predicted = model.predict([[age, marital, balance, day, duration, campaign, previous]])
    print("Para una persona con las siguientes características:")
    print(f"Edad: {age}, Estado civil: {marital}, Saldo: {balance}, Día: {day}, Duración: {duration}, Campaña: {campaign}, Previous: {previous}, Deposito: {result[deposit]}")

In [29]:
classify_bank(k_neighbors, age, marital, balance, day, duration, campaign, previous, deposit)

Para una persona con las siguientes características:
Edad: 60, Estado civil: 1, Saldo: 1000, Día: 5, Duración: 1042, Campaña: 1, Previous: 0, Deposito: no se suscribio

c:\Users\PERSONAL\Desktop\6to semestre Gustavo\Repositorio Algoritmica\algoritmica-2023-2\gustavo\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(