In [1]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

from sklearn import preprocessing

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('salary.csv')

In [3]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.workclass.unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [6]:
df.workclass = df.workclass.str.strip()

In [7]:
df.workclass.unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [8]:
df.workclass = df.workclass.map({'State-gov': 1, 'Self-emp-not-inc': 2, 'Private': 3, 'Federal-gov': 4, 'Local-gov': 5, '?' : 6, 'Self-emp-inc': 7, 'Without-pay': 8, 'Never-worked': 9})

In [9]:
df.education.unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [10]:
df.education = df.education.str.strip()

In [11]:
# Al tener mas de 10 valores univos se usara un modelo de pre procesamiento
df.education.unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [12]:
encoder_education = preprocessing.LabelEncoder()

In [13]:
encoder_education.fit(df.education)

LabelEncoder()

In [14]:
df.education = encoder_education.transform(df.education)

In [15]:
df.tail(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32559,22,3,201490,11,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,7,287927,11,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [16]:
df['marital-status'].unique()

array([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'], dtype=object)

In [17]:
df['marital-status'] = df['marital-status'].str.strip()

In [18]:
df['marital-status'].unique()

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [19]:
df['marital-status'] = df['marital-status'].map({'Never-married': 1, 'Married-civ-spouse': 2, 'Divorced': 3, 'Married-spouse-absent': 4, 'Separated': 5, 'Married-AF-spouse': 6, 'Widowed': 7})

In [20]:
df.occupation.unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', ' ?', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [21]:
df.occupation = df.occupation.str.strip()

In [22]:
df.occupation.unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', '?', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [23]:
encoder_occupation = preprocessing.LabelEncoder()

In [24]:
encoder_occupation.fit(df.occupation)

LabelEncoder()

In [25]:
df.occupation = encoder_occupation.transform(df.occupation)

In [26]:
df.tail(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32559,22,3,201490,11,9,1,1,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,7,287927,11,9,2,4,Wife,White,Female,15024,0,40,United-States,>50K

In [27]:
df.relationship.unique()

array([' Not-in-family', ' Husband', ' Wife', ' Own-child', ' Unmarried',
       ' Other-relative'], dtype=object)

In [28]:
df.relationship = df.relationship.str.strip()

In [29]:
df.relationship.unique()

array(['Not-in-family', 'Husband', 'Wife', 'Own-child', 'Unmarried',
       'Other-relative'], dtype=object)

In [30]:
df.relationship = df.relationship.map({'Not-in-family': 1, 'Husband': 2, 'Wife': 3, 'Own-child': 4, 'Unmarried': 5, 'Other-relative': 6})

In [31]:
df.race.unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

In [32]:
df.race = df.race.str.strip()

In [33]:
df.race.unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [34]:
df.race = df.race.map({'White': 1, 'Black': 2, 'Asian-Pac-Islander': 3, 'Amer-Indian-Eskimo': 4, 'Other': 5})

In [35]:
df.sex.unique()

array([' Male', ' Female'], dtype=object)

In [36]:
df.sex = df.sex.str.strip()

In [37]:
df.sex.unique()

array(['Male', 'Female'], dtype=object)

In [38]:
df.sex = df.sex.map({'Male': 1, 'Female': 2})

In [39]:
df['native-country'].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [40]:
df['native-country'] = df['native-country'].str.strip()

In [41]:
df['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [42]:
encoder_native_country = preprocessing.LabelEncoder()

In [43]:
encoder_native_country.fit(df['native-country'])

LabelEncoder()

In [44]:
df['native-country'] = encoder_native_country.transform(df['native-country'])

In [45]:
df.tail(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32559,22,3,201490,11,9,1,1,4,1,1,0,0,20,39,<=50K
32560,52,7,287927,11,9,2,4,3,1,2,15024,0,40,39,>50K

In [46]:
df.salary.unique()

array([' <=50K', ' >50K'], dtype=object)

In [47]:
df.salary = df.salary.str.strip()

In [48]:
df.salary.unique()

array(['<=50K', '>50K'], dtype=object)

In [49]:
df.salary = df.salary.map({'<=50K': 1, '>50K': 2})

In [50]:
df.describe()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
count,32561.000000,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,3.309972,1.897784e+05,10.298210,10.080679,2.083781,6.572740,2.542397,1.221707,1.330795,1077.648844,87.303830,40.437456,36.718866,1.240810
std,13.640433,1.225728,1.055500e+05,3.870264,2.572720,1.251381,4.228857,1.437431,0.627348,0.470506,7385.292085,402.960219,12.347429,7.823782,0.427581
min,17.000000,1.000000,1.228500e+04,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000
25%,28.000000,3.000000,1.178270e+05,9.000000,9.000000,1.000000,3.000000,1.000000,1.000000,1.000000,0.000000,0.000000,40.000000,39.000000,1.000000
50%,37.000000,3.000000,1.783560e+05,11.000000,10.000000,2.000000,7.000000,2.000000,1.000000,1.000000,0.000000,0.000000,40.000000,39.000000,1.000000
75%,48.000000,3.000000,2.370510e+05,12.000000,12.000000,2.000000,10.000000,4.000000,1.000000,2.000000,0.000000,0.000000,45.000000,39.000000,1.000000
max,90.000000,9.000000,1.484705e+06,15.000000,16.000000,7.000000,14.000000,6.000000,5.000000,2.000000,99999.000000,4356.000000,99.000000,41.000000,2.000000

In [51]:
corr = round(df.corr(), 4)
corr.style.background_gradient()

In [52]:
data_x = df.drop(['salary', 'fnlwgt', 'marital-status', 'native-country'], axis='columns')
data_y = df.salary

In [53]:
train_x, test_x, train_y, test_y = train_test_split(data_x, data_y, test_size=0.1)

In [54]:
k_neighbors = KNeighborsClassifier(n_neighbors=12)

In [55]:
k_neighbors.fit(train_x, train_y)

KNeighborsClassifier(n_neighbors=12)

In [56]:
y_predicted = k_neighbors.predict(test_x)

In [57]:
print(f'Score: {round(k_neighbors.score(test_x, test_y),4)*100}%')

Score: 85.85000000000001%

In [58]:
encoder_education.classes_

array(['10th', '11th', '12th', '1st-4th', '5th-6th', '7th-8th', '9th',
       'Assoc-acdm', 'Assoc-voc', 'Bachelors', 'Doctorate', 'HS-grad',
       'Masters', 'Preschool', 'Prof-school', 'Some-college'],
      dtype=object)

In [59]:
def educations(index):
    return encoder_education.classes_[index]

In [60]:
encoder_occupation.classes_

array(['?', 'Adm-clerical', 'Armed-Forces', 'Craft-repair',
       'Exec-managerial', 'Farming-fishing', 'Handlers-cleaners',
       'Machine-op-inspct', 'Other-service', 'Priv-house-serv',
       'Prof-specialty', 'Protective-serv', 'Sales', 'Tech-support',
       'Transport-moving'], dtype=object)

In [61]:
def occupations(index):
    return encoder_occupation.classes_[index]

In [62]:
# no se usa en data_x
encoder_native_country.classes_

array(['?', 'Cambodia', 'Canada', 'China', 'Columbia', 'Cuba',
       'Dominican-Republic', 'Ecuador', 'El-Salvador', 'England',
       'France', 'Germany', 'Greece', 'Guatemala', 'Haiti',
       'Holand-Netherlands', 'Honduras', 'Hong', 'Hungary', 'India',
       'Iran', 'Ireland', 'Italy', 'Jamaica', 'Japan', 'Laos', 'Mexico',
       'Nicaragua', 'Outlying-US(Guam-USVI-etc)', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto-Rico', 'Scotland', 'South', 'Taiwan',
       'Thailand', 'Trinadad&Tobago', 'United-States', 'Vietnam',
       'Yugoslavia'], dtype=object)

In [63]:
def native_countries(index):
    return encoder_native_country.classes_[index]

In [64]:
workclasses = ['None', 'State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov', 'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked']
relationships = ['None', 'Not-in-family', 'Husband', 'Wife', 'Own-child', 'Unmarried', 'Other-relative']
races = ['None', 'White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other']
geners = ['None', 'Maculino', 'Femenino']

salaries = ['None', 'Menor o igual que 50K', 'Mayor que 50K']

In [65]:

def classify_salary(model, age, workclass, education, education_num, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week):
    predicted = model.predict([[age, workclass, education, education_num, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week]])
    print(f'La Persona de genero {geners[sex]}, con {age} años, de ascendencia {races[race]}, en su familia el es: {relationships[relationship]},\n su clase de trabajo es: {workclasses[workclass]}, su nivel de educacion es: {educations(education)}, su ocupacion es: {occupations(occupation)},\n y su salario vendria siendo => {salaries[predicted[0]]}')

In [66]:
classify_salary(k_neighbors, 34, 3, 10, 10, 10, 2, 1, 1, 10000, 3500, 35)

La Persona de genero Maculino, con 34 años, de ascendencia White, en su familia el es: Husband,
 su clase de trabajo es: Private, su nivel de educacion es: Doctorate, su ocupacion es: Prof-specialty,
 y su salario vendria siendo => Mayor que 50K

c:\Users\poriz\Desktop\NUR\Semestre 6\algoritmica\python\pandas_intro\pandas_env\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [67]:
classify_salary(k_neighbors, 22, 9, 12, 8, 13, 5, 3, 2, 3500, 2000, 85)

La Persona de genero Femenino, con 22 años, de ascendencia Asian-Pac-Islander, en su familia el es: Unmarried,
 su clase de trabajo es: Never-worked, su nivel de educacion es: Masters, su ocupacion es: Tech-support,
 y su salario vendria siendo => Menor o igual que 50K

c:\Users\poriz\Desktop\NUR\Semestre 6\algoritmica\python\pandas_intro\pandas_env\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(