# primero importamos las librerias

In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### luego subimos el dataframe

In [2]:
df = pd.read_csv("dataset_fish.csv")

### damos un vistazo rapido a los datos

In [7]:
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [8]:
df.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

mapearemos el dato que sera y

In [10]:
df.Species.unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [11]:
df.Species = df.Species.map({'Bream':1, 'Roach':2, 'Whitefish':3, 'Parkki':4, 'Perch':5, 'Pike':6, 'Smelt':7})

verificamos que se encuentre de manera correcta

In [12]:
df.describe()

,Species,Weight,Length1,Length2,Length3,Height,Width
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.880503,398.326415,26.247170,28.415723,31.227044,8.970994,4.417486
std,2.026298,357.978317,9.996441,10.716328,11.610246,4.286208,1.685804
min,1.000000,0.000000,7.500000,8.400000,8.800000,1.728400,1.047600
25%,2.000000,120.000000,19.050000,21.000000,23.150000,5.944800,3.385650
50%,5.000000,273.000000,25.200000,27.300000,29.400000,7.786000,4.248500
75%,5.000000,650.000000,32.700000,35.500000,39.650000,12.365900,5.584500
max,7.000000,1650.000000,59.000000,63.400000,68.000000,18.957000,8.142000

### Empezamos a separar los datos x de los datos Y, haremos un test de correlacion para ver cuales son los datos mas importantes a tomar en cuenta

In [15]:
corr = df.corr()
corr.style.background_gradient()

In [873]:
data_x = df.drop(['Species'], axis=1)
data_y = df['Species']

Verificamos que se encuentre las columnas que deseamos

In [874]:
data_x

     Weight  Length1  Length2  Length3   Height   Width
0     242.0     23.2     25.4     30.0  11.5200  4.0200
1     290.0     24.0     26.3     31.2  12.4800  4.3056
2     340.0     23.9     26.5     31.1  12.3778  4.6961
3     363.0     26.3     29.0     33.5  12.7300  4.4555
4     430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...      ...      ...      ...      ...     ...
154    12.2     11.5     12.2     13.4   2.0904  1.3936
155    13.4     11.7     12.4     13.5   2.4300  1.2690
156    12.2     12.1     13.0     13.8   2.2770  1.2558
157    19.7     13.2     14.3     15.2   2.8728  2.0672
158    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 6 columns]

In [875]:
data_y

0      1
1      1
2      1
3      1
4      1
      ..
154    7
155    7
156    7
157    7
158    7
Name: Species, Length: 159, dtype: int64

ya verificado todo y con la data limpia empezamos la regresion lineal

In [941]:
fish_model = LinearRegression()

In [942]:
train_x, test_x, train_y, test_y = train_test_split(data_x, data_y, test_size=0.2)

In [957]:
train_x

     Weight  Length1  Length2  Length3   Height   Width
45    160.0     20.5     22.5     25.3   7.0334  3.8203
65    150.0     18.4     20.0     22.4   8.8928  3.2928
27    714.0     32.7     36.0     41.5  16.5170  5.8515
49    161.0     22.0     23.4     26.7   6.9153  3.6312
127  1000.0     41.1     44.0     46.6  12.4888  7.5958
..      ...      ...      ...      ...      ...     ...
98    188.0     22.6     24.6     26.2   6.7334  4.1658
39    120.0     18.6     20.0     22.2   6.2160  3.5742
60   1000.0     37.3     40.0     43.5  12.3540  6.5250
146     7.5     10.0     10.5     11.6   1.9720  1.1600
16    700.0     30.4     33.0     38.3  14.8604  5.2854

[127 rows x 6 columns]

In [943]:
fish_model.fit(train_x, train_y)

LinearRegression()

In [944]:
y_pred = fish_model.predict(test_x)

In [950]:
y_pred

array([0.2862895 , 5.57974451, 5.57267691, 5.79835669, 5.13106944,
       5.0602263 , 5.67063349, 0.66616275, 5.36605386, 2.4819892 ,
       3.10286339, 5.55258071, 4.76569281, 5.17117303, 5.44001587,
       0.40153842, 1.81680389, 4.92213368, 5.18425566, 0.49991059,
       3.25621177, 3.98503519, 0.21964062, 0.76004306, 0.44378386,
       4.85427724, 0.54297765, 5.46907834, 5.64732615, 6.06662353,
       3.72811114, 2.61155655])

In [945]:
print(f'El score del modelo es: {round(fish_model.score(test_x, test_y), 3)*100}%')

El score del modelo es: 92.10000000000001%

### ahora el modelo cumple con el requisito asi que hacemos una prediccion

In [958]:
train_x

     Weight  Length1  Length2  Length3   Height   Width
45    160.0     20.5     22.5     25.3   7.0334  3.8203
65    150.0     18.4     20.0     22.4   8.8928  3.2928
27    714.0     32.7     36.0     41.5  16.5170  5.8515
49    161.0     22.0     23.4     26.7   6.9153  3.6312
127  1000.0     41.1     44.0     46.6  12.4888  7.5958
..      ...      ...      ...      ...      ...     ...
98    188.0     22.6     24.6     26.2   6.7334  4.1658
39    120.0     18.6     20.0     22.2   6.2160  3.5742
60   1000.0     37.3     40.0     43.5  12.3540  6.5250
146     7.5     10.0     10.5     11.6   1.9720  1.1600
16    700.0     30.4     33.0     38.3  14.8604  5.2854

[127 rows x 6 columns]

In [946]:
def predict_fish(model, weight, length1, length2, length3, height, width):
    predicted_score = model.predict([[weight, length1, length2, length3, height, width]])
    predicted_species_index = predicted_score.argmax()
    return Species[predicted_species_index]

In [967]:
model = fish_model
Species = ['None','Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt']
weight = 50
length1 = 10
length2 = 10
length3 = 5
height = 2
width = 5

In [968]:
predict_fish(model, weight, length1, length2, length3, height, width)

c:\Users\PC\Documents\Trabajos de clase\Algoritmica Avanzada\algoritmica-2023-2\pandas_env\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([11.19250185])

In [969]:
print(f'el pez de peso {weight} y de medidas {length1}, {length2}, {length3}, {height}, {width} es de la especie {Species[int(predict_fish(model, weight, length1, length2, length3, height, width)[0]-1)]}')

c:\Users\PC\Documents\Trabajos de clase\Algoritmica Avanzada\algoritmica-2023-2\pandas_env\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

IndexError: list index out of range