In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('dataset_fish.csv')

In [3]:
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [4]:
df.dtypes

Species     object
Weight     float64
Length1    float64
Length2    float64
Length3    float64
Height     float64
Width      float64
dtype: object

In [5]:
df.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [6]:
df.Species = df.Species.map({'Bream':1,'Roach':2, 'Whitefish': 3,'Parkki':4, 'Perch':5,'Pike':6,'Smelt':7 })

In [7]:
df.describe()

,Species,Weight,Length1,Length2,Length3,Height,Width
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.880503,398.326415,26.247170,28.415723,31.227044,8.970994,4.417486
std,2.026298,357.978317,9.996441,10.716328,11.610246,4.286208,1.685804
min,1.000000,0.000000,7.500000,8.400000,8.800000,1.728400,1.047600
25%,2.000000,120.000000,19.050000,21.000000,23.150000,5.944800,3.385650
50%,5.000000,273.000000,25.200000,27.300000,29.400000,7.786000,4.248500
75%,5.000000,650.000000,32.700000,35.500000,39.650000,12.365900,5.584500
max,7.000000,1650.000000,59.000000,63.400000,68.000000,18.957000,8.142000

In [8]:
corr = round(df.corr(),4)
corr.style.background_gradient()

In [9]:
data_x = df.drop(['Species','Weight','Height'], axis=1)
data_y = df.Weight

In [10]:
data_x

     Length1  Length2  Length3   Width
0       23.2     25.4     30.0  4.0200
1       24.0     26.3     31.2  4.3056
2       23.9     26.5     31.1  4.6961
3       26.3     29.0     33.5  4.4555
4       26.5     29.0     34.0  5.1340
..       ...      ...      ...     ...
154     11.5     12.2     13.4  1.3936
155     11.7     12.4     13.5  1.2690
156     12.1     13.0     13.8  1.2558
157     13.2     14.3     15.2  2.0672
158     13.8     15.0     16.2  1.8792

[159 rows x 4 columns]

In [11]:
train_x, test_x, train_y, test_y = train_test_split(data_x,data_y,test_size=0.2)

In [12]:
linear_reg = LinearRegression()

In [13]:
linear_reg.fit(train_x,train_y)

LinearRegression()

In [14]:
y_predicted = linear_reg.predict(test_x)

In [15]:
print(f'La calificacion de prediccion: {round(linear_reg.score(test_x, test_y),4)*100}%')

La calificacion de prediccion: 86.53999999999999%