In [1]:
# Importar las librerías necesarias
from sklearn import neighbors
from sklearn.model_selection import train_test_split

import pandas as pd
import numpy as np

In [2]:
# Importar el dataset y lo convertimos en un DataFrame
df = pd.read_csv('insurance.csv')

In [5]:
# Limpiar los datos
genres = {0: 'hombre', 1: 'mujer'}
is_smoker = {0: 'no fuma', 1: 'si fuma'}
regions = {0: 'southwest', 1: 'southeast', 2: 'northwest', 3: 'northeast'}
# Convierto las columnas object a valores numéricos
df.sex = df.sex.map({'male': 0, 'female': 1})
df['smoker'] = df['smoker'].map({'no': 0, 'yes': 1})
df.region = df.region.map({'southwest': 0, 'southeast': 1, 'northwest': 2, 'northeast': 3})

In [7]:
df.describe()

,age,sex,bmi,children,smoker,region,charges
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,0.494768,30.663397,1.094918,0.204783,1.484305,13270.422265
std,14.049960,0.500160,6.098187,1.205493,0.403694,1.104885,12110.011237
min,18.000000,0.000000,15.960000,0.000000,0.000000,0.000000,1121.873900
25%,27.000000,0.000000,26.296250,0.000000,0.000000,1.000000,4740.287150
50%,39.000000,0.000000,30.400000,1.000000,0.000000,1.000000,9382.033000
75%,51.000000,1.000000,34.693750,2.000000,0.000000,2.000000,16639.912515
max,64.000000,1.000000,53.130000,5.000000,1.000000,3.000000,63770.428010

In [8]:
# Inicializar el modelo
k_neighbors = neighbors.KNeighborsClassifier()

In [9]:
# Preparar la data para entrenar el modelo
data_x = df.drop(['sex', 'bmi', 'smoker'], axis='columns')
data_y = df.smoker

In [12]:
train_x, test_x, train_y, test_y = train_test_split(data_x, data_y, test_size=0.1)

In [13]:
# Entrenar el modelo
k_neighbors.fit(train_x, train_y)

KNeighborsClassifier()

In [15]:
# Medir la confianza de nuestro modelo
print(f'Score: {round(k_neighbors.score(test_x, test_y), 4) * 100}%')

Score: 97.00999999999999%

In [34]:
# Ahora aplicamos el método predict para encontrar una nueva etiqueta
#[[age, children, region, charges]]
age = 40
kids = 3
region = 1
charge = 65000
predicted = k_neighbors.predict([[age, kids, region, charge]])

In [35]:
print(f'La persona de {age} años, con {kids} hijos, que vive en la zona {regions[region]} y paga {charge} de cuota. Se ha determinado que {is_smoker[predicted[0]]}')

La persona de 40 años, con 3 hijos, que vive en la zona southeast y paga 65000 de cuota. Se ha determinado que si fuma